@model Rapidlaunch.Models.Rocket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rocket</h4>
<hr />
<div class="row justify-content-md-center"> <!-- Centering the Row -->>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rocketName" class="control-label"></label>
                <input asp-for="rocketName" class="form-control" />
                <span asp-validation-for="rocketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rocketypeID" class="control-label"></label>
                <input asp-for="rocketypeID" class="form-control" />
                <span asp-validation-for="rocketypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
