@model IEnumerable<Rapidlaunch.Models.StaffAddress>

@{
    ViewData["Title"] = "Index";
}
    <link href="~/css/site.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="tester-editor">
                <div class="dropdownIndex">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Data Option
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </ul>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
