@model Rapidlaunch.Models.Launch

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Launch</h4>
<hr />
<div class="row  justify-content-md-center"> <!-- Centering the Row -->">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="providerIdent" class="control-label"></label>
                <input asp-for="providerIdent" class="form-control" />
                <span asp-validation-for="providerIdent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="launchDate" class="control-label"></label>
                <input asp-for="launchDate" class="form-control" />
                <span asp-validation-for="launchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="launchName" class="control-label"></label>
                <input asp-for="launchName" class="form-control" />
                <span asp-validation-for="launchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="padStatusIdenet" class="control-label"></label>
                <input asp-for="padStatusIdenet" class="form-control" />
                <span asp-validation-for="padStatusIdenet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rocketIdentID" class="control-label"></label>
                <input asp-for="rocketIdentID" class="form-control" />
                <span asp-validation-for="rocketIdentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
