@model Rapidlaunch.Models.ITAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ITAccount</h4>
    <hr />
    <dl class="row" style="text-align:center"> <!--Align more Central  -->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itaccountTypeIdentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itaccountTypeIdentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ITAccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
