/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  border-color:black;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
   
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
     Set the fixed height of the footer here 
    height: 60px;
    line-height: 60px;  Vertically center the text there 
}
  .alink{

            color:white;
   }
.h5 {
    color: black;
    text-align: center;
    height: 200px;
    position: relative;
    border: 3px solid green;
}
h1 {
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-align: center;
    padding: 150px 0px 0px 0px
}
thead {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: navajowhite;
    align-self:baseline;
    text-align:center;
    
}

tbody {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;

}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th:hover {
    background-color: #ddd;
}


tr:hover {
    background-color: #ddd;
}
body {

    background-color:floralwhite; 
}

.formcenter {
    box-sizing: border-box;
    text-align: center;
    
}
.formgrp {
    width: 50%;
    margin-left: 130%
}

.tester-editor{
    color:chartreuse;

}
.card mb-3 {
    max-width: 540px;
    border-radius: 50px;
}
.card-img-top{
    max-height:50%;
    max-width:80%;
    align-self:center;
    border-radius:100px;
    background-color:transparent;
}
.card-body h3 {
    text-align: center;
    position: relative;
    
}
.card {
    background-color:transparent;
    border-radius:100px;
    border-color:transparent;
    }
.card card-columns {
        background-color: transparent;
        border-radius: 100px;
        border-color: transparent;
        text-align:center;
    }
.navbar-brand{
    background-color:transparent;
}
.card-columns card card-body card-title h5 {
    align-content: center;
}
.card-columns card card-body card-title container-fluid {
    text-align:center;
}
.card-title{
    text-align:center;
    color:whitesmoke;
}
.contcenter{
    text-align:center;
}

.container-padded {
    position: relative;
    top: 75px;
}
.btn btn-danger {
    align-content: center;
}

.container-fluid h4 {
    text-align: center;
    align-items: center;
    align-content: center;

}
.container-fluid h3 {
    text-align: center;
    align-items: center;
    align-content: center;
}

    .row {
    text-align: center;
    align-items: center;
    align-content: center;
}
.btn btn-danger{
    align-content:center;
    align-items:center;
    align-self:center;
    text-align:center;
}
#testicle{
    align-content:center;
    position:center;
    width:30%;
    margin:auto;
}
.navbar-toggler button {
    color: black
}